language: objective-c

script: 
  - xctool -workspace Selfie.xcworkspace -scheme Selfie -sdk iphonesimulator build test ONLY_ACTIVE_ARCH=NO -archivePath "$BUILD_DIR" -showBuildSettings

before_install:
  - gem install cocoapods -v '0.33.1'
  - brew update
  - brew upgrade xctool
  - ./scripts/travis/add-key.sh
after_script:
  - ./scripts/travis/remove-key.sh
after_success:
  # - ./scripts/travis/testflight.sh
env:
  global:
    - APPNAME="Selfie"
    - CERT_NAME="iPhone Developer: Daniel Suo (JJE6K79Y82)"
    - PROFILE_UUID=4c9f7a1aea45e188cf79e8b0bafc743fa92719f6
    - secure: TAsO/pHSX2jL7O+QAGRcn1xAGKZJDlC4QOKvgCy4dNdpnSZINTngZ0VU4sST0yuwvD3N2yfJN/c6IQZdUd+K1BatBYdtxuTA1Xuqj/nKHld5cKYGhPDarVMPcshZ4fKI9jEbN6XQosUV0WhOpjhvO3ZtWt/pEPJqZdYrMA+Zqgc=
    - secure: dH2Bmj6xTIUhohPTZWUTMjlA13Cpbl2j9RcB7XiRNsEAr8d3tFxpGkIYWUz+xFb8Vz3oLe4m7+ub8qlJYwKONQoV35zBbiiqhTVIepZTVAVto0gC1yVQ4Aagx/vfi/Bdjq2CeOop6MUr3Yucxu4Tlloo9DL5AxAGunTUESmBMt0=
    - secure: g2REGh2cYLvsjwqgVjDUPTiVmWAsrqpveEy945sQeT8RTs0gWxHwvj25TwFL7Sr+4TTlzM2Lq+bJNUkisP2wkU5dW7lADSFBqY7sl6xMV9KYmpQ/ndyzI0bK2FwMhR+XwY/za4pwzruBPjuzhLPKopXsKgD3F8N2LDbcIHlUoPY=
    
    # Build directory
    - BUILD_DIR="$PWD/build/release"

    # TestFlight distribution lists (coma separated)
    - TF_DISTRIBUTION_LISTS="selfie-sandbox"

    # Developer name used to sign the app
    - DEVELOPER_NAME="iPhone Developer: Daniel Suo (JJE6K79Y82)"

    # Mobile provisioning profile name used to sign the app
    - PROFILE_NAME=Wildcard_App_InHouse_Dist

    # Deploy only if testing on this branch
    - TF_BRANCH="dev"